footer.l-footer.footer
	div.footerPanel.footerPanel__utility
		div.foorterIconPanel__item

	div.footerPanel.footerPanel__links
		div.footerPanel__item.footerPanel__item--default.copyright &copy; Application
		div.footerPanel__item.footerPanel__item--default.copyright &copy; Footer.

	div.footerPanel.footerPanel__social

