mixin menuItems()
	li.menuItem
		a(href='/', target="_self")
			span Home
	li.menuItem
		a(href='/set-context.html', target="_self")
			span Set Context
	li.menuItem
		a(href='/get-context.html', target="_self")
			span Get Context
