mixin menuItems()
	li.menuItem
		a(href='/', target="_self")
			span Home
	li.menuItem
		a(href='/message-setting.html', target="_self")
			span Set Context
	li.menuItem
		a(href='/message-getting.html', target="_self")
			span Get Context
