// Color Palette.
$color-palette: (
  white: #ffffff,
  trout: #475058,
  mine_shaft: #333333,
  wild_sand: #f4f4f4,
  storm_dust: #646464,
  masala: #3c3b3b,
  silver_chalice: #aaaaaa,
  puerto_rico: #2ebaae,
  desert_storm: #f8f8f8
);
