@import "base/reset";

// Variables
$black: #202020;
$white: #fff;
$turquoise: #78D9C5;

html, body {
  height: 100vh;
}

.right {
  float: right;
}

a {
  color: $black;
  text-decoration: none;
}

.icon::after {
  font-family: 'FontAwesome';
  color: $white;
  font-size: 24px;
}

.icon.burger::after {
  content: '\f0c9';
}

.icon.search::after {
  content: '\f002';
}

.container {
  // height: 100%;
  // max-width: 400px;
  // margin: 0 auto;
  // box-shadow: 0px 0px 2px $black;
  // // padding: 20px;
  // font-family: 'Roboto';
  // box-sizing: border-box;

  height: calc(100% - 60px);
  max-width: 400px;
  min-height: 600px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 5px $black;
  box-sizing: border-box;
  position: relative;
}

.navbar {
  padding: 10px;
  display: block;
}

.top-view {
  height: 50%;
  background: url(https://unsplash.it/1080/720/?random) no-repeat;
  background-size: cover;
  color: $white;

  h1 {
    font-weight: 100;
    font-size: 26px;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 1.5px;
  }
}

.color-layer {
  background-color: agba(75,40,5,0.5);
  height: 100%;
  width: 100%;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
}

.header {
  position: relative;
}

.profile-container {
  width: 100px;
  height: 100px;
  // display: block;
  margin: 40px auto;
  position: relative;
}

.profile {
  border-radius: 50%;

  &.main {
    display: block;
    // margin: 40px auto;
    height: 100px;
    width: auto;
    position: relative;
  }
}

.notification {
  position: absolute;
  border-radius: 50%;
  background-color: $turquoise;
  width: 30px;
  height: 30px;
  text-align: center;
  top: 0;
  right: 0;
  font-weight: 300;

  span {
    font-size: 16px;
    display: block;
    position: relative;
    top: 50%;
    margin-top: -7px;
  }
}

.bottom-view {
  height: 50%;
  overflow: hidden;
}

// @import "base/all-base";
// @import "layout/all-layouts";
// @import "modules/all-modules";  
// @import "state/all-states";  

// Test respondTo:

// body {
// 	@include respondTo(x-small) {
// 		background-color: red;
// 	}
// 	@include respondTo(small) {
// 		background-color: yellow;
// 	}
// 	@include respondTo(medium) {
// 		background-color: green;
// 	}
// 	@include respondTo(large) {
// 		background-color: orange;
// 	}
// 	@include respondTo(x-large) {
// 		background-color: purple;
// 	}
// }

