.widgetContainer {
  padding: 20px;
  max-width: 350px;
  background: hsla(0,0%,100%,.95);
  box-shadow: 0 0 0 10px rgba(0,0,0,.1);
  border-radius: 5px;
  margin-top: 50px;

  input {
    width: 100%;
  }

  h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;

    li {
      border-bottom: 1px solid rgba(0,0,0,0.2);
      padding: 10px 0;
      font-weight: 100;
      display: flex;
    }
  }

  .highlight {
    background:#27ae60;
    color: #fff;
  }

  .searchResultList {
    background:white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin:0;
    padding:20px;
    transition:background 0.2s;
    display:flex;
    justify-content:space-between;
    text-transform: capitalize;
  }
}

.fancyCheckboxList {
  label {
    flex:1;
    cursor: pointer;
  }

  input {
    display: none;
  }

  input + label:before {
    content: "\0125FD";
    margin-right: 10px;
  }

  input:checked + label:before {
    content: "\01F353";
  }
}

.favListForm {
  margin-top: 20px;

  input {
    padding: 10px;
    text-align: center;
    outline: 0;
    border: 1px solid rgba(0,0,0,0.1);
  }
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 5px solid #F7F7F7;
  width: 100%;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}
