.l-pageWrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;

  > div {
    flex: 1 1 auto;
  }

  .l-pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
