.l-pageWrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;

  > div {
    flex: 1 1 auto;
  }

  .l-pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .l-pageContent {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.l-paletteBlockContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include break(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .l-paletteBlock {
    flex: 1 1 auto;

    @include break(md) {
      flex: 0 0 50%;
    }

    @include break(lg) {
      flex: 0 0 25%;
    }
  }

  .l-paletteBlock__palette {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
