// my favorites
.favMenuContainer {
  // padding: 20px;
  // max-width: 350px;
  // background: rgba(255,255,255,0.95);
  // box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
  // border-radius: 5px;
  // margin-top: 50px;

  h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
  }

  .favMenuList {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
  }

  .favMenuList li {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px 0;
    font-weight: 100;
    display: flex;
  }

  .favMenuList label {
    flex:1;
    cursor: pointer;
  }

  .favMenuList input {
    display: none;
  }

  .favMenuList input + label:before {
    content: "\0125FD";
    margin-right: 10px;
  }

  .favMenuList input:checked + label:before {
    content: "\01F353";
  }

  .favListForm {
    margin-top: 20px;
  }

  .favListForm input {
    padding:10px;
    outline:0;
    border:1px solid rgba(0,0,0,0.1);
  }
}


// my favorites - end
