extends jade/includes/base

mixin menuItems(...items)
	each item in items
		li.menuItem
			a(href='#')
				span= item

mixin artistDetail(item)
	div.artistBlock.artistBlock__detail
		div.imageContainer
			div.imageFrame
				//- img(src="./images/icon-muffin.png")
				img(src="./images/artist-orange.png")

		div.artistBlock__title= item
		div.artistBlock__desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		div.currentArtistContainer
			a.infoButton Go Back

block pageTitle
	title Reading Life

block bodyContent
	div.l-pageContainer.l-fixed-header.pageContainer
		div.l-pageHeader.pageHeader
			div.l-navContainer.navContainer
				div.l-logoContainer.logoContainer

			div.l-menuWrapper.menuWrapper
				div.l-menuContainer.menuContainer
					ul.menuList
						+menuItems('Artists', 'Portfolio')

		div.l-pageContentWrapper.pageContentWrapper
			div.l-contentContainer.contentContainer
				div.artistContent
					div.artistDetailContainer
						+artistDetail('artist 1')

		div.l-contentFooterContainer.contentFooterContainer
			div
				span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolore
