extends jade/includes/base

mixin paletteBlockBuilder ()
	div.paletteBlock.fromData
		for block in paletteBlocks
			div.paletteBlock__palette(style='background-color: ' + block.paletteInfo.colorValue + ';')
				div= block.paletteInfo.colorValue
			div.paletteBlock__info
				div= block.paletteInfo.colorName
				div= block.paletteInfo.varName
				ul.paletteBlock__usage
					for uage in block.colorUage
						li= uage

block pageTitle
	title color palette

block bodyContent
	div.pageWrapper
		div.pageHeader
			a.button(href="#")
				i.fa.fa-arrow-left
			div.title Page Header
			a.button(href="#")
				i.fa.fa-arrow-right

		div.pageContent
			+paletteBlockBuilder()

		div.pageFooter
			div.title Page Footer
