extends jade/includes/base

//- mixin mainNav ()
//- 	ul#main-menu
//- 		for menuItem in menuItems
//- 			li(id= menuItem.itemId)
//- 				a(href= menuItem.itemLink)= menuItem.itemAnchor

mixin paletteBlockBuilder ()
	div.paletteBlock.fromData
		for block in paletteBlocks
			div.paletteBlock__palette(style='background-color: ' + block.paletteInfo.colorValue + ';')= block.paletteInfo.colorValue
			div.paletteBlock__info
				div= block.paletteInfo.colorName
				div= block.paletteInfo.varName
				ul.paletteBlock__usage
					for uage in block.colorUage
						li= uage

block pageTitle
	title color palette

block bodyContent
	div.pageWrapper
		div.pageHeader
			a.button(href="#")
				i.fa.fa-arrow-left
			div.title Page Header
			a.button(href="#")
				i.fa.fa-arrow-right
		div.pageContent
			+paletteBlockBuilder()
			div.paletteBlock
				div.paletteBlock__palette
				div.paletteBlock__info
					div color name
					div variable name
				ul.paletteBlock__usage
					li Page Content 1
					li Page Content 1
					li Page Content 1
			div.paletteBlock
				div.paletteBlock__palette
				div.paletteBlock__info
				ul.paletteBlock__usage
					li Page Content 2
					li Page Content 2
					li Page Content 2
			div.paletteBlock
				div.paletteBlock__palette
				div.paletteBlock__info
				ul.paletteBlock__usage
					li Page Content 3
					li Page Content 3
					li Page Content 3
			div.paletteBlock
				div.paletteBlock__palette
				div.paletteBlock__info
				ul.paletteBlock__usage
					li Page Content 4
					li Page Content 4
					li Page Content 4
		div.pageFooter
			div.title Page Footer
