extends jade/includes/base

mixin menuItems(...items)
	each item in items
		li.menuItem
			a(href='#')
				span= item

block pageTitle
	title Reading Life

block bodyContent
	div.l-pageContainer.l-fixed-header.pageContainer
		div.l-pageHeader.pageHeader
			div.l-navContainer.navContainer
				div.l-logoContainer.logoContainer
					div.imageFrame
						img(alt='img' src='./images/site-logo.png').imageResponsive
				div.l-toggleMenuContainer.toggleMenuContainer
					a(href='#').js-toggleMobileMenu
						i.fa.fa-bars.fa-2x

			div.l-menuWrapper.menuWrapper.js-menuWrapper
				div.l-menuContainer.menuContainer.js-mobileMenuContainer
					ul.menuList
						+menuItems('Home','Set Context', 'Get Context')

		div.l-pageContentWrapper.pageContentWrapper
			div.l-contentContainer.contentContainer
				div.alertContainer
					div.alert.alert--error
						div.alert__icon
							i.fa.fa-bell
						div.alert__wrapper
							span.js-eventAlert Context status

				div.contextFormContainer
					textarea(placeholder="Context Data").dataTextArea.js-getDataTextArea
					a(href="#").commandButton.js-commandButton__getContext
						span.button_label Get Context

		div.l-contentFooterContainer.contentFooterContainer
			div
				span  Application Footer
