extends jade/includes/base

block pageTitle
	title Athena - Reading Life

block bodyContent
	div.l-siteContainer.l-header-fixed.l-footer-fixed.siteContainer
		header.l-navigation.siteNavigation
			h1.logo
				a(href="#") RL

			include jade/components/nav-desktop.jade

			nav.navActions
				ul
					li.navActions__item.navActions__menu
						a.js-actionMenu.fa-bars(data-mobileMenu="open") Menu

		include jade/components/footer.jade

	include jade/components/nav-mobile.jade

	script(src="scripts/bundle.js")
