extends jade/includes/base

mixin menuItems(...items)
	each item in items
		li.menuItem
			a(href='#')
				span= item

mixin artistBlock(...items)
	each item in items
		div.artistBlock
			div.artistBlock__icon
				i.fa.fa-music
			div.artistBlock__title= item
			div.artistBlock__desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit.

block pageTitle
	title Reading Life

block bodyContent
	div.l-pageContainer.l-fixed-header.pageContainer
		div.l-pageHeader.pageHeader
			div.l-navContainer.navContainer
				div.l-logoContainer.logoContainer

			div.l-menuWrapper.menuWrapper
				div.l-menuContainer.menuContainer
					ul.menuList
						+menuItems('Artists', 'Portfolio')

		div.l-pageContentWrapper.pageContentWrapper
			div.l-contentContainer.contentContainer
				div.artistContent
					div.artistContainer
						+artistBlock('artist 1', 'artist 2', 'artist 3', 'artist 4', 'artist 5', 'artist 6', 'artist 7', 'artist 8', 'artist 9', 'artist 10', 'artist 11', 'artist 12')

					div.currentArtistContainer current artist container

		div.l-contentFooterContainer.contentFooterContainer
			div
				span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolore
