extends jade/includes/base

mixin menuItems(...items)
	each item in items
		li.menuItem
			a(href='#')
				span= item

block pageTitle
	title Reading Life

block bodyContent
	div.l-pageContainer.pageContainer
		div.l-pageHeader.pageHeader
			div Page Header goes here.

		div.l-pageContentWrapper.pageContentWrapper
			div.l-contentContainer.contentContainer
				div.siteBlock
					div.l-siteBlockItemContainer.paletteBlockContainer
						div.l-siteBlockItem.paletteBlock
							div.paletteBlock__palette(style='background-color: lightgreen;')
								div block.paletteInfo.colorValue 1
							div.paletteBlock__info
								div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ducimus fugiat beatae minima vel veritatis, in reiciendis nisi quod accusantium alias porro nulla ut ratione officia! Voluptatem ipsam fugiat nihil.
								div(style='background-color: tomato;') Button #1
							div.paletteBlock__info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt pariatur maiores officia enim vel quis, debitis nobis, alias, eligendi praesentium, perspiciatis blanditiis asperiores incidunt temporibus odio nostrum cupiditate dolore tempore.

						div.l-siteBlockItem.paletteBlock
							div.paletteBlock__palette(style='background-color: lightgreen;')
								div block.paletteInfo.colorValue 2
							div.paletteBlock__info
								div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nisi totam adipisci esse, vero iusto.
								div(style='background-color: tomato;') Button #2
							div.paletteBlock__info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem praesentium provident dolores optio nisi ipsum, repellat minus quisquam accusantium quibusdam consequatur itaque fugiat dolorum exercitationem quidem modi aperiam omnis illum?

						div.l-siteBlockItem.paletteBlock
							div.paletteBlock__palette(style='background-color: lightgreen;')
								div block.paletteInfo.colorValue 1
							div.paletteBlock__info
								div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ducimus fugiat beatae minima vel veritatis, in reiciendis nisi quod accusantium alias porro nulla ut ratione officia! Voluptatem ipsam fugiat nihil.
								div(style='background-color: tomato;') Button #1
							div.paletteBlock__info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt pariatur maiores officia enim vel quis, debitis nobis, alias, eligendi praesentium, perspiciatis blanditiis asperiores incidunt temporibus odio nostrum cupiditate dolore tempore.

						div.l-siteBlockItem.paletteBlock
							div.paletteBlock__palette(style='background-color: lightgreen;')
								div block.paletteInfo.colorValue 2
							div.paletteBlock__info
								div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nisi totam adipisci esse, vero iusto.
								div(style='background-color: tomato;') Button #2
							div.paletteBlock__info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem praesentium provident dolores optio nisi ipsum, repellat minus quisquam accusantium quibusdam consequatur itaque fugiat dolorum exercitationem quidem modi aperiam omnis illum?

			div.l-contentFooterContainer.contentFooterContainer
				div.footerPanel.footerPanel--links
					div.footerPanel__item
						div.footerPanel__item__colorBar color bar
						div.footerPanel__item__link
							a(href="#") Nick-Nick-Nick.com
						div.footerPanel__item__colorBar color bar
