extends jade/includes/base

block pageTitle
	title Reading Life

block bodyContent
	div.l-pageContainer.pageContainer
		include ./jade/components/page-header

		.l-pageContentWrapper.pageContentWrapper
			div.l-contentContainer.contentContainer
				div
					span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptatem vel ipsam? Cum sint quisquam mollitia magni laborum dolorem odit.

		.l-pageFooter.contentFooterContainer
			div.footerPanel.footerPanel--links
				div.footerPanel__item.footerPanel__item--default
					ul
						li
							a(href="/help" target="") Help
						li
							a(href="/help" target="") Newsletter
						li
							a(href="/help" target="") Terms of Use
						li
							a(href="/help" target="") Privacy Policy
				div.footerPanel__item.footerPanel__item--copyright Copyright © 2017 This Web Site
