doctype
html(lang='en')
	head
		title Athena - Reading Life

		include jade/includes/head.jade

	body

		div.l-siteContainer.l-header-fixed.l-footer-fixed.siteContainer
			header.l-navigation.siteNavigation
				h1.logo
					a(href="#") RL

				include jade/components/nav-desktop.jade

				nav.navActions
					ul
						li.navActions__item.navActions__menu
							a.js-actionMenu.fa-bars(data-mobileMenu="open") Menu

			include jade/components/footer.jade

		script(src="scripts/bundle.js")
