extends jade/includes/base

block pageTitle
	title Athena - Library

block bodyContent
	div.l-pageContainer
		div.l-pageHeader
			h2 Library
		div.l-pageContentWrapper
			div.l-contentContainer
				h2 Content
				div div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quas molestiae, obcaecati. Vitae non omnis, blanditiis aut accusantium, eum atque!
				div Corrupti accusantium inventore hic, adipisci saepe repellendus rem, obcaecati voluptates tempora ea veritatis perferendis ullam excepturi a! Ex illum, repellendus.
				div Blanditiis vitae suscipit laboriosam. Minima nemo tempore, quisquam quam tempora obcaecati libero odio deleniti alias esse, natus ipsa, qui non!
				div Reprehenderit, nisi! Quos inventore id optio iusto doloremque, eaque, voluptas nesciunt nam repellendus debitis perferendis delectus vero consequuntur, quis sunt!
				div Numquam quisquam neque fugit consequatur voluptate itaque perferendis, earum aperiam quibusdam molestias consequuntur nostrum commodi maxime, saepe adipisci eum repellendus.
				div Labore quo repellat a, quasi debitis iure sapiente distinctio officia eos voluptatem iusto quod qui ab nisi ducimus molestias incidunt.
				div Saepe atque nihil, iusto suscipit quas quisquam temporibus tempore optio excepturi illo voluptate ullam incidunt obcaecati velit perferendis ab eum?
				div Voluptates nesciunt quibusdam inventore, vitae quisquam, suscipit similique, molestiae rerum dolorem obcaecati nisi quod quidem facere. Perferendis iste, a veritatis.
				div Illum odio quasi amet dolor molestias similique cum, vel voluptates, quae fugiat dignissimos nesciunt accusantium deserunt delectus facilis libero laborum?
				div Asperiores, perferendis, labore esse laborum doloribus eos porro aperiam nisi eius explicabo voluptatibus atque cum modi ad error deleniti architecto!
				div Magni cupiditate odio porro sapiente, rerum quo perferendis, qui aliquam dolor veritatis ducimus quia! Nemo, nulla nobis optio. Laboriosam, provident?
				div Explicabo tenetur, accusamus aspernatur. Facere repellat inventore minima reiciendis, ipsa, quisquam, cumque quibusdam voluptatibus perspiciatis, expedita sint. Eaque animi, perspiciatis.
				div Atque, repellat? Error ullam, molestiae, rem aperiam ut quas sint temporibus. Doloribus accusantium, at praesentium, ea eius itaque! Aliquid, nemo.
				div Ea provident, quos nostrum vero, quia nesciunt saepe iure eos nisi, dignissimos esse fugit consectetur sapiente mollitia unde voluptatum accusantium!
				div Esse quod id culpa, saepe itaque facere, magni error consequuntur ullam accusamus quasi commodi sunt corporis blanditiis eveniet dolorem iure.
				div Laborum alias blanditiis laboriosam quibusdam voluptatibus, nemo assumenda quos accusamus quisquam delectus ab dolor similique ullam, odio laudantium corporis a.
				div Rem ducimus ad expedita laboriosam sint cupiditate delectus! Molestiae qui inventore est consequuntur ipsam aspernatur laudantium, alias quidem at libero.
				div Eaque repellendus at debitis cum aperiam facere enim vero libero fuga incidunt, labore reprehenderit natus nostrum provident ipsa blanditiis, similique.
				div Doloremque, vero dicta praesentium, at expedita maiores accusantium suscipit obcaecati ipsa harum voluptatum nobis eligendi quas dignissimos similique repellendus quis!
				div Ea autem sed possimus vel consequatur ad assumenda quia voluptatem quae, non illum asperiores eum eaque illo, neque harum obcaecati!
				div Aliquam eligendi, nesciunt est repellat illo doloremque eius delectus dolor. Sint, veritatis nesciunt! Eligendi incidunt cumque, libero iste, qui dignissimos!
				div Quam, sint, illo iste, dignissimos error quas quia ipsa facilis repudiandae maxime impedit ullam magnam perspiciatis incidunt aliquid, mollitia molestias.
				div Magnam tenetur non perferendis culpa, alias, ea harum distinctio aut nostrum eveniet itaque optio eos perspiciatis, illo iusto, nihil autem.
				div Nam, quasi. Modi perferendis id repellendus nam obcaecati sequi fuga maiores in voluptatem, culpa ipsam harum quod fugit perspiciatis sint.
				div Maiores tempore voluptatum adipisci aut necessitatibus amet neque aliquam at tenetur consectetur? Nisi sed quidem, nobis minima. Fuga sapiente, pariatur!
				div Ut, rem nisi corporis nulla deleniti sequi cumque consectetur dolorem perspiciatis fuga nostrum qui odit sunt recusandae voluptates, eum minus.
				div Molestiae soluta, ex odit magni voluptatibus quibusdam libero! Magni corrupti debitis in impedit nobis, deleniti sed est rem consequuntur! Reprehenderit!
				div Architecto incidunt minima earum adipisci, est amet consequatur, a aspernatur. Ipsum laboriosam mollitia commodi ab modi officia asperiores quibusdam in.
				div Libero delectus illo, molestiae tempora suscipit dolorem veritatis natus facilis repellendus esse perferendis obcaecati molestias explicabo ut aspernatur quia deleniti?
				div Voluptate odio, voluptates tenetur officia quia quos assumenda enim nobis, perspiciatis, corporis error deserunt minima, illo reprehenderit. Magnam, iure, quam.
				div Possimus eum distinctio architecto molestiae voluptatem, praesentium voluptatibus, incidunt illum omnis sequi quam amet sit ad tempora? Ipsum, distinctio, debitis.
				div Nihil recusandae, architecto necessitatibus eos, id earum cumque minus unde nam beatae perspiciatis, maiores excepturi quod distinctio ullam provident porro!
				div Harum aut repellendus, totam, eos, ut alias vel voluptates fuga debitis non sit ipsum in officiis amet similique? Nobis, eveniet.
				div Magni omnis sapiente, nemo maxime et modi nam neque laborum eveniet corrupti possimus unde sed officia ipsam saepe similique harum.
				div Odit at velit quasi accusantium, id, magni quod earum nulla aspernatur quas, impedit optio. Atque dolores optio magni, fugiat dicta.
				div Officia suscipit, rerum magni nemo dolore officiis corrupti quisquam adipisci modi dolorum sunt, quidem, ab excepturi fugit perferendis. Est, quibusdam?
				div Vero eaque tempore repudiandae, cupiditate dolorem iure, ullam eius ut sed corporis laboriosam similique, minima debitis culpa sequi aliquam labore.
				div Natus cumque officia, incidunt maxime explicabo earum autem, ratione debitis amet laudantium tempore reprehenderit, alias quisquam dicta necessitatibus et sit.
				div Maiores iste, reiciendis quam soluta similique recusandae. Ullam id reprehenderit velit vel ducimus sequi molestiae, natus sint, temporibus quos repellendus.
				div Culpa quasi voluptatibus rem consectetur labore, laborum quaerat distinctio alias. Consequuntur excepturi odit deserunt possimus autem et saepe voluptates velit!
				div Illum culpa cumque asperiores nihil, in cupiditate praesentium voluptatem, modi molestiae nesciunt perferendis exercitationem, assumenda ea sed magni. Quas, similique?
				div Dolorum veritatis alias, deserunt facere praesentium consequuntur quos rerum architecto qui temporibus maxime molestias nulla voluptatem voluptatibus assumenda iure esse.
				div Modi quasi rerum veritatis impedit, libero laudantium architecto a temporibus. Porro nam aut rerum possimus cumque, et, veritatis delectus necessitatibus.
				div Inventore ipsam autem iste repudiandae architecto placeat, assumenda porro excepturi fugit, qui nulla impedit fugiat eum, aliquam earum aperiam quis?
				div Consequuntur quibusdam ea rem! Illum cum, itaque delectus, inventore accusamus minima aperiam sint error nesciunt magnam animi corrupti? Unde, modi!
				div Quis distinctio corrupti possimus nihil obcaecati veniam ab vero voluptatem expedita dolore recusandae non enim, necessitatibus, maxime accusamus. Rem, ipsa.
				div Libero aliquam ducimus fugiat expedita. Optio quia corrupti doloremque minima hic, possimus reprehenderit excepturi necessitatibus rem blanditiis, asperiores rerum soluta.
				div Rem delectus ab fugit voluptate commodi quibusdam id praesentium odit libero beatae unde facilis molestias, nam dolorem ea, consequuntur? Ut.
				div Eius, illo culpa voluptas architecto provident magnam non dolor neque asperiores. Adipisci totam doloribus veniam velit voluptate accusamus cumque placeat.
				div Provident omnis cumque vitae et voluptate, sed repudiandae nam harum iste soluta natus illum libero ipsa facere pariatur, nulla itaque?
				div Ad velit facere perspiciatis ipsam, optio commodi error accusantium, aperiam animi aliquam! Nostrum ratione, sint illum magni vel culpa incidunt.
				div Eos in dolores sunt nobis fugiat assumenda reiciendis, nemo cum doloribus, est quo quam aliquid qui eaque dolorem officia porro?
				div Molestias ea delectus recusandae quos architecto expedita maxime vitae, necessitatibus sunt nulla dolores libero suscipit tenetur consequatur ducimus iusto! Suscipit?
				div Nostrum dolorum architecto possimus enim, ea corporis soluta aspernatur, nam ipsam. Quibusdam vel incidunt dolore maxime porro deleniti odio, nobis.
				div Illo aliquid consectetur doloremque dolorem ipsa ut architecto, hic laboriosam sit beatae tempora qui rerum dolor, eum ullam, totam temporibus.
			div.l-footerContainer
				h2 Footer Content

