extends jade/includes/base

mixin menuItems(...items)
	each item in items
		li.menuItem
			a(href='#')
				span= item

mixin photoFrame(frameTitle)
	.imagePanel__frame
		a.frammeLink(href="/")
			.frammeTitle=frameTitle

block pageTitle
	title Reading Life

block bodyContent
	div.l-pageContainer.pageContainer
		div.l-pageHeader.pageHeader
			div.l-navContainer.navContainer
				div.l-logoContainer.logoContainer
					div.imageFrame
						img(alt='img' src='./images/site-logo.png').imageResponsive
					//- h4.title Great Books
				div.l-toggleMenuContainer.toggleMenuContainer
					a(href='#').js-toggleMobileMenu
						i.fa.fa-bars.fa-2x

			div.l-menuWrapper.menuWrapper.js-menuWrapper
				div.l-menuContainer.menuContainer.js-mobileMenuContainer
					ul.menuList
						+menuItems('Home')
						li.menuItem
							a(href='#').currentSelection
								span Color Palette
						+menuItems('Typography', 'Text Styles', 'Breakpoints', 'Buttons')

				div.l-searchContainer.searchContainer.js-showSearchPanel
					a.searchButton.searchButton--default
						i.fa.fa-search
				div.l-searchWrapper.searchWrapper.js-searchPanel
					form(action="#" method='post').l-searchWrapper__form
						a.searchButton.searchButton--whiteSquare
							i.fa.fa-search
						input(type="text" name="s" placeholder="Enter your search").searchInput
						a.closeButton.closeButton--dimmedSquare.js-hideSearchPanel
							i.fa.fa-close

		div.l-pageContentWrapper.pageContentWrapper
			div.l-contentContainer.contentContainer.contentContainer--mediaContent
				.galleryContainer
					div.photoGallery
						div.title
							span Photo Galleries
						div.imagePanel(style="background-image: url(./images/gallery-cover/canada.jpeg);")
							+photoFrame('Canada')

						.imagePanel(style="background-image: url(./images/gallery-cover/coffee.jpeg);")
							+photoFrame('Coffee')

						.imagePanel(style="background-image: url(./images/gallery-cover/computer.jpeg);")
							+photoFrame('computer')

						.imagePanel(style="background-image: url(./images/gallery-cover/couple.jpeg);")
							+photoFrame('Couple')

						.imagePanel(style="background-image: url(./images/gallery-cover/family.jpeg);")
							+photoFrame('family')

						.imagePanel(style="background-image: url(./images/gallery-cover/fruit.jpeg);")
							+photoFrame('Fruits')

						.imagePanel(style="background-image: url(./images/gallery-cover/girl.jpg);")
							+photoFrame('Girl')

						.imagePanel(style="background-image: url(./images/gallery-cover/landscape.jpg);")
							+photoFrame('landscape')

						.imagePanel(style="background-image: url(./images/gallery-cover/music.jpeg);")
							+photoFrame('music')

						.imagePanel(style="background-image: url(./images/gallery-cover/nature.jpeg);")
							+photoFrame('nature')

						.imagePanel(style="background-image: url(./images/gallery-cover/office.jpeg);")
							+photoFrame('office')

						.imagePanel(style="background-image: url(./images/gallery-cover/people.jpeg);")
							+photoFrame('people')

						.imagePanel(style="background-image: url(./images/gallery-cover/pug.jpeg);")
							+photoFrame('pug')

						.imagePanel(style="background-image: url(./images/gallery-cover/work.jpeg);")
							+photoFrame('work')

		.l-pageFooter.contentFooterContainer
				div.footerPanel.footerPanel--links
					div.footerPanel__item.footerPanel__item--default
						ul
							li
								a(href="/help" target="") Help
							li
								a(href="/help" target="") Newsletter
							li
								a(href="/help" target="") Terms of Use
							li
								a(href="/help" target="") Privacy Policy
					div.footerPanel__item.footerPanel__item--copyright Copyright © 2017 This Web Site
