extends jade/includes/base
include jade/components/menu-items

block pageTitle
	title Reading Life

block bodyContent
	div.l-pageContainer.l-fixed-header.pageContainer
		div.l-pageHeader.pageHeader
			div.l-navContainer.navContainer
				div.l-logoContainer.logoContainer
					div.imageFrame
						img(alt='img' src='./images/site-logo.png').imageResponsive
				div.l-toggleMenuContainer.toggleMenuContainer
					a(href='#').js-toggleMobileMenu
						i.fa.fa-bars.fa-2x

			div.l-menuWrapper.menuWrapper.js-menuWrapper
				div.l-menuContainer.menuContainer.js-mobileMenuContainer
					ul.menuList
						+menuItems()

		div.l-pageContentWrapper.pageContentWrapper
			div.l-contentContainer.contentContainer
				div.alertContainer
					div.alert.alert--error
						div.alert__icon
							i.fa.fa-bell
						div.alert__wrapper
							span.js-eventAlert Message status

				div.messageFormContainer
					textarea(placeholder="Message Data").dataTextArea.js-setDataTextArea
					a(href="#").commandButton.js-commandButton__setMessage
						span.button_label Set Message

		div.l-contentFooterContainer.contentFooterContainer
			div
				span Application Footer
