extends jade/includes/base

mixin menuItems(...items)
	each item in items
		li.menuItem
			a(href='#')
				span= item

block pageTitle
	title Reading Life

block bodyContent
	div.l-pageContainer.pageContainer
		.pageContainer--fullPagePhotoContent
			img(alt='img' src='./images/gallery-cover/canada.jpeg')
			a.imageNavPanel.imageNavPanel--left
				i.fa.fa-chevron-circle-left.fa-4x
			a.navToGallaryPanel(href="/media-photo.html")
			.imageNavPanel.imageNavPanel--right
				i.fa.fa-chevron-circle-right.fa-4x
			a.imageTitle
				span A wonder life in this part of Canada

