@import "site-container";
@import "navigation";
@import "navigation-site-nav";
@import "menu";
@import "main-content";
@import "./mobile-menu/mobile-menu";
@import "./menu-flat/menu-flat";
@import "site-cover";
@import "site-show";
@import "footer";
@import "search";
@import "panel-container";
@import "media";
@import "image";
@import "book-form";
@import "data-form";
@import "buttons";
@import "slide-show";
@import "selectric";
@import "drop-menu";
@import "animated-background";
@import "./accordion/accordion";
@import "./chosen/chosen";
@import "./search-bar/search-bar";
@import "./logon-form/logon-form";
@import "./flip-card/flip-card";
@import "./three-d-menu/three-d-menu";


// Menu search form - Start
.searchFormContainer {
  font-weight: 200;

  input {
    width: 100%;
  }

  .searchForm {
    max-width:400px;
    margin:50px auto;
  }

  input.search {
    margin: 0;
    text-align: center;
    outline:0;
    border: 10px solid #F7F7F7;
    width: 100%;
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
    font-size: 1.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  }

  .results {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .results li {
    background:white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin:0;
    padding:20px;
    transition:background 0.2s;
    display:flex;
    justify-content:space-between;
    text-transform: capitalize;
  }

  span.item {
    font-size: 15px;
  }

  .highlight {
    background:#27ae60;
    color: #fff;
  }
}

// Menu search form - End

.toggle-menu {
  display: block;
  font-size: 2rem;
  color: #fff;
  margin: 10px 10px 0 0;
  transition: margin .2s;
  background: transparent;
  border: 0;
  @include break(md) {
    display: none;
  }
}

.top-image {
  max-width: 100%;
  height: auto;
}

main {
  display: block;
  padding: 0 20px;
}

.scroller {
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, .2);
}

.scroller .logo {
  padding: 10px 20px;
  font-size: 1.5rem;
}

.scroller nav {
  align-items: center;
}

.scroller .logo,
.scroller ul,
.scroller .toggle-menu {
  margin: 0;
}
