.artistContent {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .artistContainer {
    flex: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    margin-top: 20px;

    .artistBlock {
      flex: 1 1 25%;

      .imageContainer {
        max-width: 90%;

        .imageFrame {
          width: 50%;
          img {
            box-sizing: border-box;
            max-width: 100%;
            height: auto;
          }
        }
      }

      .artistBlock__icon {
        color: #2991d6;
        height: 80px;
        line-height: 80px;
        font-size: 50px;
      }

      .artistBlock__title {
        font-size: 20px;
        font-weight: 700;
        color: #444444;
      }

      .artistBlock__desc {
        line-height: 25px;
      }
    }
  }

  .currentArtistContainer {
    background-color: #082233;
    color: #ffffff;
    padding: 30px 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .info {
      font-size: 24px;
      font-weight: 300;
      color: #747474;
    }

    .infoButton {
      background-color: #2991d6;
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      padding: 11px 13px;
      font-size: 14px;
    }
  }
}
