.formContainer {
	margin-bottom: 1em;
	border-bottom: 1px solid #333;
	padding: 5px 0 15px 0;
}

.actionForm {
	display: flex;

	padding: 5px 10px 10px 5px;
	// background-color: yellow;

	@include respondTo(small) {
		flex-direction: column;
	}

	@include respondTo(x-small) {
		flex-direction: column;
	}

	&__section{
		flex: 1;

		flex-direction: column;
		justify-content: space-between;;
		
		min-width: 0; /* fix for min-width: auto */

		padding: 0;
		margin: 0;
		// border: 1px solid gray;
		border-radius: 0;

		// background-color: green;
	}

	&__section + &__section {
		margin-left: 1em;

		@include respondTo(x-small) {
			margin-left: 0;
		}

		@include respondTo(small) {
			margin-left: 0;
		}
	}

	&__panel {
		display: flex;
		// background-color: blue;
		border-style: none;

		input:not([type=submit]) {
			flex: 1; /* fluid width */
			display: block; /* IE fix */
			min-width: 0; /* fix for min-width: auto */

		  margin-bottom: 8px;
		  font-size: 14px;
			padding: 5px;
		}

		textarea {
			flex: 1; 
			display: block; /* IE fix */

		  font-size: 14px;
			padding: 5px;

			resize: vertical;
			// color: #aaa;
			border-style: none;
		}

		input:focus,
		textarea:focus {
			outline: none;
		}

		label {
			width: 5em;
			margin-right: .5em;
			text-align: right;
		}
	}
}


/* small screens */
// @media (max-width: 600px) {
// 	form {
// 		flex-direction: column;
// 	}
// 	form p {
// 		display: block;
// 	}
// 	label {
// 		display: block;
// 		width: auto;
// 		text-align: left;
// 	}
// 	form > div {
// 		width: auto;
// 	}
// 	form > div + div {
// 		margin-left: 0;
// 		margin-bottom: 1em;
// 		order: -1;
// 	}
// 	input {
// 		width : 100%
// 	}
// }


// input {
//   background: none;
//   border: solid 2px #21a1e1;
//   color: #21a1e1;
//   padding: 15px 40px;
//   font-size: 18px;
//   display: inline-block;
// }
// input:focus, input:active {
//   outline: none;
// }
// input[type="text"], input[type="email"] {
//   border: none;
//   border-bottom: solid 2px #21a1e1;
// }
// input[type="submit"]:active {
//   color: white;
//   background: #21a1e1;
// }

// .input-group {
//   display: inline-block;
//   margin-right: 20px;
//   position: relative;
// }
// .input-group input {
//   padding: 15px 0px;
// }
// .input-group label {
//   position: absolute;
//   top: 50%;
//   left: 0px;
//   -webkit-transform: translateY(-50%);
//   transform: translateY(-50%);
//   font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
//   font-style: italic;
//   font-size: 18px;
//   color: #999;
//   pointer-events: none;
//   -webkit-transition: all 0.15s ease-out 0s;
//   transition: all 0.15s ease-out 0s;
// }
// .input-group input:focus + label,
// .input-group input.has-value + label {
//   top: -10px;
//   font-size: 12px;
//   color: #aaa;
// }
