.contentContainer--discographyContent {
  // background-color: tomato;

	display: block;
	clear: both;
  box-sizing: border-box;

	width: 100%;
	margin-right: auto;
	margin-left: auto;

	@include break(md) {
		max-width: 56rem;
	}

  .imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    .imagePanel {
      flex: 1;

      background-color: lime;
      border: 10px solid gray;
      padding: 0;

      min-width: 50%;
      max-width: 50%;

      @include break(md) {
        min-width: 25%;
        max-width: 25%;
      }
    }

  }
}

