/* clear fix */
.js-imageGridContainer:after {
  content: '';
  display: block;
  clear: both;
}

.gridSizer,
.grid {
  width: 33.333%;
}

.grid {
  float: left;
  a {
    cursor: zoom-in;
  }
}

.grid img {
  display: block;
  max-width: 100%;
}
