.contentContainer--mediaContent {
  // background-color: yellow;

	display: block;
	clear: both;
  box-sizing: border-box;

	// width: 100%;
  // margin-top: 30px;

  width: 100%;
  margin-top: 60px;
  padding-bottom: 60px;

	margin-right: auto;
	margin-left: auto;

	@include break(md) {
		max-width: 60rem;
	}

	@include break(xl) {
		max-width: 70rem;
	}

  .galleryContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    // @include break(md) {
    //   flex-direction: row;
    //   justify-content: space-between;
    //   align-items: flex-start;
    // }

    .videoGallery, .photoGallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: space-between;
    }

    .videoGallery {
      width: 100%;
      // background-color: yellow;

      @include break(md) {
        align-items: flex-start;
        margin-right: 10px;
      }

      .title {
        width: 100%;
        line-height: 2.5rem;
        text-transform: uppercase;
      }

      .imagePanel {
        flex: 1;

        background-color: mediumpurple;
        border: 10px solid gray;
        padding: 0;

        min-width: 50%;
        max-width: 50%;

        @include break(md) {
          min-width: 25%;
          max-width: 25%;
        }
      }
    }

    .photoGallery {
      width: 100%;
      background-color: #fff;


      // @include break(md) {
      //   align-items: flex-start;

      //   margin-left: 10px;
      // }

      .title {
        width: 100%;
        line-height: 2.5rem;
        text-transform: uppercase;
      }

      .imagePanel {
        flex: 1;

        background-color: crimson;
        // border: 10px solid  transparent;
        border: 10px solid #fff;
        padding: 0;

        position: relative;
        height: 150px;
        overflow: hidden;
        background-position: 50%;
        background-size: cover;
        border-radius: 15px;
        text-align: center;

        min-width: 50%;
        max-width: 50%;

        @include break(md) {
          min-width: 25%;
          max-width: 25%;
        }

        .imageFrame {

        }
      }
    }
  }
}

