.contentContainer--newsContent {

  display: block;
  clear: both;

  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include break(md) {
    max-width: 56rem;

    // background-color: green;
  }

  .newHeaderPanel {
    // flex: 1;

    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;

    padding: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    h2 {
      font-size: 1.1em;
      margin: 15px 0 0 0;
      width: 100%;
      text-align: left;

      @include break(md) {
        padding: 0 5px 0 5px;
      }
    }
  }

  .tourNewsPanel {

    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .tourNewsBox {
      background-color: yellow;

      width: 100%;

      @include break(md) {
        width: 25%;
      }

      // height: 100px;
    }
  }

  .otherNewsPanel {
    width: 100%;

    height: 200px;

    background-color: lightgreen;

  }
}

.imageFrame {
  .imageResponsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
