.contentContainer--newsContent {

  display: block;
  clear: both;

  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include break(md) {
    max-width: 56rem;
  }

  .newHeaderPanel {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding: 5px;

    h2 {
      font-size: 1.1em;
      margin: 15px 0 0 0;
      width: 100%;
      text-align: left;

      @include break(md) {
        padding: 0 5px 0 5px;
      }
    }
  }

  .tourNewsPanel {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    padding: 5px;

    .tourNewsBox {
      // background-color: yellow;

      width: 100%;

      @include break(md) {
        width: 25%;
      }

      color: #777;
    }
  }

  .otherNewsPanel {
    // background-color: lightgreen;

    width: 100%;
    padding: 5px;

    .newsListItem {
      font-size: .7rem;
      font-family: Raleway,Helvetica,sans-serif;
      font-weight: 800;
      letter-spacing: .25rem;
      line-height: 1.65;
      margin: 1rem 0 1rem;
      text-transform: uppercase;

      a {
        transition: color .2s ease,border-bottom-color .2s ease;
        text-decoration: none;
        border-bottom: none;
      }
    }
  }
}

.imageFrame {
  .imageResponsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.siteButton {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.siteButton--default {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
