.pageContentWrapper {

  .contentHeaderContainer {
    // background-color: lightgray;
    .header {
      background-color: rgba(245, 245, 245, 1);
    }
  }

  .contentContainer {
    // background-color: greenyellow;
    border-top: 1px solid lightslategray;
    padding-top: 30px;
    padding-left: 20px;
  }
}

.contentFooterContainer {
  padding: 15px;
  background-color: #1a1a1a;
  text-align: center;
}
