.footerPanel {
  // background-color: tomato;
}

.footerPanel--links {
  // background-color: green;

  .footerPanel__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    @include break(md) {
      flex-direction: row;

      > div {
        flex: 1;
      }
    }

    .footerPanel__item__colorBar {
      height: 2rem;
      background-color: tomato;
    }

    div.footerPanel__item__link {
      height: 2rem;
      background-color: #fff;
    }
  }
}
