.pageContainer {

  .pageHeader {
    background-color: #ffffff;

    @include break(md) {
      // min-width: 150px;
    }

    .logoContainer {
      // background-color: cornflowerblue;

      @include break(md) {
        padding: 20px 5px;
        line-height: 40px;
        height: 80px;
      }

      .imageFrame {
        // margin-top: .7rem;
        margin-top: 10px;
        height: 80px;

        @include break(md) {
          margin: 8px .5rem 2px .5rem;
          // margin: 1.0rem .5rem .2rem .5rem;
          // height: 100px;
        }

        .imageResponsive {
          height: 100%;
          width: auto;
        }
      }

      .title {
        margin-bottom: .5rem;

        @include break(md) {
          font-weight: 600;
        }
      }
    }

    .menuWrapper {
      // background-color: lightcoral;
      padding: 5px;
      border-top: 1px solid;

      .menuContainer {
        // background-color: crimson;
        flex: 1;

        .menuList {
          // margin: 10px;
          // background-color: cornflowerblue;

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          @include break(md) {
            flex-direction: row;
          }

          .menuItem {
            // width: 100%;
            margin: 0;
            padding: 0;

            a {
              display: inline-block;
              color: #444;
              letter-spacing: 2.5px;
              font-size: 14px;
              font-family: "Open Sans", Arial, Tahoma, sans-serif;
              font-weight: 500;
              line-height: 38px;
              border: none;
              // padding: 2px 10px 2px 10px;
              padding: 2px;
              text-align: center;
              transition: all 0.3s ease-in-out;
              // text-transform: uppercase;

              span {
                padding: 0 10px;
                white-space: nowrap;
                border-right-width: 1px;
                border-style: solid;

                border-color: rgba(0,0,0,.05);
              }
            }

            a.currentSelection {
              // background-color: #554d41;
            }
          }
        }
      }

      .searchContainer {
        // background-color: darkgoldenrod;
        margin: 0;
      }
    }
  }
}

.searchButton {
  // line-height: 20px;
  font-size: 18px;
  // color: #444;
  text-decoration: none;
  border: none;

  line-height: 2.5rem;
  color: #009cde;

  &.searchButton--default {
    padding: 2px 30px;
  }

  &.searchButton--whiteSquare {
    padding: 1rem;
    color: #fff;
  }
}

.closeButton {
  &.closeButton--dimmedSquare {
    padding: 1rem;
    color: #444;
    opacity: .75;
  }
}

.searchInput {
  flex: 1;

    // width: 100%;
  margin: 0;
  box-shadow: 0 0 0;

  font-size: 1rem;
  padding-left: 5px;
  background: none;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgba(255,255,255,.08);
}

.l-searchWrapper {
  .l-searchWrapper__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.searchWrapper {
  background-color: #2991d6;
  // height: 100px;
}
