.contentContainer--tourContent {

	display: block;
	clear: both;

	width: 100%;
	margin-right: auto;
	margin-left: auto;

	@include break(md) {
		max-width: 56rem;
	}

	.tourHeaderPanel {
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		padding: 5px;

		h2 {
			font-size: 1.1em;
			margin: 15px 0 0 0;
			width: 100%;
			text-align: left;

			@include break(md) {
				padding: 0 5px 0 5px;
			}
		}
	}

	.tourListPanel {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

    @include break(md) {
      flex-direction: row;
      // justify-content: flex-start;
    }

		width: 100%;
		padding: 5px;

    border: 3px solid tomato;

		// h3 {
		// 	font-size: 1.4rem;
		// 	font-family: Homenaje,Helvetica,sans-serif;
		// 	font-weight: 800;
		// 	letter-spacing: .25em;
		// 	line-height: 1.65;
		// 	margin: 0 0 1em;
		// 	text-transform: uppercase;
		// }

		.tourInfoBox {
		}

    width: 100%;

    // @include break(md) {
    //   width: 25%;
    // }

    color: #777;

    .tourItem {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .tourDate {
      color: #777;
      line-height: 2.0rem;
    }

    .tourLocation {
      font-family: Yanone Kaffeesatz,serif;
      line-height: 2.0rem;
    }
    .tourItem {

    }
	}
}

.tourButton {
	// background-color: #9c1c1c;

	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 1.25rem;
	font-weight: 400;
  letter-spacing: 0;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	// vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.tourButton--default {
	color: #333;
	// background-color: #000;
	font-weight: 900;
	border-radius: 0;
	// border-color: #9c1c1c;
}
